body {
    background-color: whitesmoke;
}

.button1 {
    color: white;
    background-color: #FF4D4D;
    width: 8rem;
    height: 4rem;
    border-radius: 25px;
    border-width: 0;
    border-width: 0;
    border: 2px solid red;
    padding: 5px;
}

.button1Active, .button1:hover {
    color: white;
    font-weight: bold;
    background-color: #800000;
    width: 8rem;
    height: 4rem;
    border-radius: 25px;
    border-width: 0;
    border: 2px solid #FF4D4D;
}